---
- hosts: localhost
  vars:
    state: present
    region: eu-west-2
    db_instance_class: db.t4g.medium
    tf_project_path: ../postgis-tf
    master_user_password:

  tasks:
    - name: Verify valid state requested
      ansible.builtin.assert:
        that: state == 'absent' or state == 'present'
      
    - name: Apply postgis-tf postgis_topology
      community.general.terraform:
        project_path: "{{ tf_project_path }}"
        state: "{{ state }}"

    - name: Database prep for after creation
      when: state == 'present'
      block:
      - name: Retreive cluster information (password, endpoint)
        ansible.builtin.shell:
          cmd: "cd {{ tf_project_path }} && terraform show --json"
        register: postgis_topology_stdout

      - name: Extract stdout JSON from terraform show
        ansible.builtin.set_fact:
          postgis_topology: "{{ postgis_topology_stdout.stdout | from_json }}"

      - name: Debug output of resources
        ansible.builtin.debug:
            msg: "{{ postgis_topology['values']['root_module']['resources'] }}"
            
      - name: Extract clusters and instances
        ansible.builtin.set_fact:
            postgis_cluster: "{{ postgis_topology['values']['root_module']['resources'] |
              selectattr('type', '==', 'aws_rds_cluster') | first }}"
            postgis_instances: "{{ postgis_topology['values']['root_module']['resources'] | 
              selectattr('type', '==', 'aws_rds_cluster_instance') }}"
              
      - name: Wait for server DNS to propagate
        ansible.builtin.set_fact:
          postgres_ip_address: "{{ postgis_cluster['values']['endpoint'] }}"
        until: postgres_ip_address is truthy
        retries: 15
        delay: 20

      - name: Retreive postgres credentials
        when: state == 'present'
        ansible.builtin.set_fact:
          postgres_credentials: "{{ lookup('amazon.aws.secretsmanager_secret', 
            postgis_cluster['values'].master_user_secret[0].secret_arn) | from_json }}"

      - name: Install postgis database
        when: state == 'present'
        community.postgresql.postgresql_query:
          login_host: "{{ postgres_ip_address }}"
          login_port: "{{ postgis_cluster['values'].port }}"
          login_db: postgres
          login_user: "{{ postgres_credentials.username }}"
          login_password: "{{ postgres_credentials.password }}"
          query:
            - CREATE EXTENSION IF NOT EXISTS postgis;
            - CREATE EXTENSION IF NOT EXISTS postgis_topology;
            - CREATE EXTENSION IF NOT EXISTS fuzzystrmatch;
            - CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder;

      always:
        - name: Obscure postgres credentials
          ansible.builtin.set_fact:
            postgres_credentials: {}





