- hosts: "_bastion"
  vars:
    ansible_python_interpreter: /home/ubuntu/.venv/bin/python3
  environment:
    AWS_ACCESS_KEY_ID: "{{ access_key_v }}"
    AWS_SECRET_ACCESS_KEY: "{{ secret_key_v }}"
    AWS_REGION: "{{ region_v }}"
  tasks:

  - name: Wait for connection in case it's a fresh setup
    ansible.builtin.wait_for_connection:

  - name: Retreive cluster information (including instances)
    amazon.aws.rds_cluster_info:
      cluster_id: "{{ prefix_v }}-n7m-postgis"
    register: n7m_postgis_cluster_info_r

  - name: Extract instances
    ansible.builtin.set_fact:
      instances_f: "{{ n7m_postgis_cluster_info_r |
          community.general.json_query('clusters[*].db_cluster_members[*].db_instance_identifier') |
          flatten }}"

  - name: Delete the database instances
    amazon.aws.rds_instance:
      id: "{{ item }}"
      state: absent
      skip_final_snapshot: true
    loop: "{{ instances_f }}"

  - name: Delete the cluster itself
    amazon.aws.rds_cluster:
      state: absent
      cluster_id: "{{ prefix_v }}-n7m-postgis"
      skip_final_snapshot: true

  - name: Delete the DB Subnet Group
    amazon.aws.rds_subnet_group:
      state: absent
      name: "{{ prefix_v }}-db-subnet-group"

  - name: Delete the master user secret
    community.aws.secretsmanager_secret:
      name: '{{ prefix_v }}-postgis-master-user-password'
      state: absent
