#shellcheck shell=sh
[ -d /opt/homebrew ] && load_prefix /opt/homebrew
[ -d /home/homebrew/.linuxbrew ] && load_prefix /home/homebrew/.linuxbrew

#  Ansible project configurations
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export ANSIBLE_CALLBACK_RESULT_FORMAT="yaml"
export ANSIBLE_LIBRARY="$PWD/library"
export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_INVENTORY="$PWD/inventories/${REGION}/aws_ec2.yaml,$PWD/inventories/${REGION}/localhost.yaml"
export ANSIBLE_VERBOSITY=2
