#shellcheck shell=bash
[ -d /opt/homebrew ] && load_prefix /opt/homebrew
[ -d /home/homebrew/.linuxbrew ] && load_prefix /home/homebrew/.linuxbrew

#  Ansible project configurations
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export ANSIBLE_CALLBACK_RESULT_FORMAT="yaml"
export ANSIBLE_LIBRARY="$PWD/library"
export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_INVENTORY="$PWD/inventories/${REGION}/aws_ec2.yaml,$PWD/inventories/${REGION}/localhost.yaml"
export ANSIBLE_VERBOSITY=2
ANSIBLE_COW_ACCEPTLIST="alpaca, apt, bud-frogs, bunny, cock, cower, default, dragon, dragon-and-cow, duck, "
ANSIBLE_COW_ACCEPTLIST+="elephant, elephant-in-snake, flaming-sheep, fox, hellokitty, kitty, koala, llama, "
ANSIBLE_COW_ACCEPTLIST+="mech-and-cow, moofasa, moose, sheep, small, sus"
export ANSIBLE_COW_ACCEPTLIST
[ -x /opt/homebrew/bin/cowsay ] && export ANSIBLE_COW_PATH=/opt/homebrew/bin/cowsay
